<div style="font-family: sans-serif;">

  <h2 style="color: #555;">
    Verify Your Email Address
  </h2>

  <p style="color:  gray ;">
    Click on the link below to activate your account 
  </p>

<a href="<%= link %>">
  Verify your account
</a>

</div>